.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  font-size: 15px;
  line-height: 20px;
}

.modal_open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal__title {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 10px;
  background-image: url(../../assets/modalclose.png);
  background-color: transparent;
  background-repeat: no-repeat;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 29px 28px 36px;
  max-width: 496px;
  min-height: 436px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  /* display: block; */
  border: 0;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__label_type_radio {
  flex-direction: row;
  opacity: 0.5;
}
.modal__label_type_radio:has(input:checked) {
  opacity: 1;
}

.modal__label {
  position: relative;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.modal__submit {
  display: flex;
  justify-content: flex-start;
  border-radius: 4px;
  gap: 8px;
  width: 124px;
  height: 26px;
  padding: 8px 16px;
  margin-top: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 36px;
  color: rgb(255, 255, 255);
}

.modal__submit-base {
  background-color: rgba(0, 0, 0);
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.modal__legend {
  margin-bottom: 12px;
  margin-top: 28px;
}
