.card {
  width: 323px;
  border-radius: 20px;
  border: 1px solid #00000070;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  font-family: "Cabinet Grotesk";
  /* overflow: hidden;
  box-sizing: border-box;
} */

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: #f9f9f9;
  padding: 2px 12px;
  border-radius: 4px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
}

.card__image {
  width: 100%;
  height: auto;
  display: block;
}
