.card {
  width: 323px;
  border-radius: 20px;
  border: 1px solid #00000070;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  font-size: 16px;
  weight: 700;
  overflow: hidden;
  font-family: "Cabinet Grotesk";
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
}

.card__image {
  width: 100%;
}
