@font-face {
  src: url("../assets/yellowtail-regular.woff") format("woff");
  font-family: "Yellowtail";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.header__logo {
  width: 64px;
  height: 42px;
  color: red;
}

.header__title {
  font-family: yellowtail;
  font-size: 40px;
  margin-left: 12px;
  color: red;
}
