.sidebar__profile {
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.sidebar__avatar {
  flex: 0 0 40px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.sidebar__username {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}

.sidebar__button {
  font-weight: 700;
  display: block;
  background-color: transparent;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
}
