.clothes-section {
  flex: 1;
}
.clothes-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clothes-section__list {
  list-style: none;
  padding: 0 0 41px 0;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 22px;
  width: 100%;
  grid-auto-rows: 304px;
}
